<h2>Ouch!</h2>
<p><%= "#{@game.player_1.name} has successfully attacked #{@game.player_2.name}" %></p>

<p><%= "#{@game.player_1.name}: #{@game.player_1.hp}HP" %></p>
<p><%= "#{@game.player_2.name}: #{@game.player_2.hp}HP" %></p>
